.clients-block {

    &__body {
        text-align: center;
    }

    &__title {
    }

    &__list {
        border-radius: 9px;
        background-color: #ffffff;
        padding: 70px 50px 33px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 40px;

        @media (max-width: $md2+px) {
            padding: 60px 0px 33px;
        }

        @media (max-width: $md4+px) {
            padding: 30px 0px 33px;
        }

        & .swiper-slide {
            height: auto;
            padding: 10px 25px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            

            & img {
                max-width: 100%;
                max-height: 100%;
                height: auto;
            }
        }
    }
}
