.testimonials {


    &_v2 {
        background-color: #073fa2;
        position: relative;
        overflow: hidden;


        &:before {
            position: absolute;
            content: '';
            top: 50%;
            left: 0;
            background: url(../img/photo/testimonials-decor.png) center no-repeat;
            display: block;
            height: 176px;
            width: 195px;
            transform: translateY(-50%);

            @media (max-width: $md3+px) {
                top: auto;
                bottom: 0;
                transform: translateY(0%);
                height: 120px;
                width: 140px;
            }
        }

        & .testimonials__slider {
            background-color: transparent;
            box-shadow: none;
        }

        & .testimonials__text-wrap {
            &:before {
                position: absolute;
                content: '';
                top: auto;
                left: auto;
                right: 0;
                bottom: 0;
                background-image: url(../img/photo/quote2.png);
            }
        }

        & .testimonials__decor {
            top: 140px;
            height: 190px;
            width: auto;
            opacity: 0.3;
            right: auto;
            left: 80%;

            @media (max-width: $md2+px) {
                transform: rotate(90deg);
                transform-origin: 0 0;
                height: 120px;
                top: 30px;
                left: 100%;
            }
            @media (max-width: $md3+px) {
                height: 60px;
                left: 60px;

            }
            & img {
                height: 100%;
                width: auto;
            }
        }
    }

    &__bg {
    }

    &__slider {
        position: relative;
        box-shadow: 0 40px 80px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        background-color: $mainColor;
        padding-top: 102px;
        padding-bottom: 82px;

        @media (max-width: $md3+px) {
            padding-top: 62px;
            padding-bottom: 42px;
        }

        @media (max-width: $md4+px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    &__decor {
        position: absolute;
        top: 96px;
        right: 80px;
        width: 133px;

        @media (max-width: $md3+px) {
           top: 30px;
           right: 30px;
           width: 90px;
        }

        & img {
            width: 100%;
            z-index: i;
        }
    }

    &__title {
        color: #fff;
        max-width: 561px;
        margin: 0 auto 25px;
        padding: 0 15px;
        position: relative;
        z-index: 3;

        @media (max-width: $md4+px) {
            margin-bottom: 15px;
        }
    }

    & .swiper-container {
        z-index: 7;
        margin-bottom: 38px;
        padding-top: 50px;
        margin-top: -50px;
        position: relative;
    }

    & .swiper-slide {
        position: relative;
    }

    & .swiper-pagination {
        & .swiper-pagination-bullet  {
            background-color: #fff;
        }
    }

    &__text-wrap {
        max-width: 561px;
        margin: 0 auto;
        position: relative;
        padding: 0 15px;

        &:before {
            position: absolute;
            content: '';
            width: 127px;
            height: 101px;
            top: -35px;
            left: -57px;
            background-image: url(../img/photo/quote.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 1;
        }
    }


    &__text {
        font-family: "Rubik-LightItalic", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.76em;
        margin-bottom: 18px;
        position: relative;
        z-index: 2;
        color: #fff;
    }

    &__author {
        color: #ffffff;
        font-family: $titleFontFamily;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5em;
        text-transform: uppercase;

        @media (max-width: $md4+px) {
            font-size: 16px;
        }
    }

    &__logo {
        width: 100%;
        max-width: 241px;
        position: absolute;
        left: 84px;
        top: 0;
        z-index: 2;
        display: flex;
        align-items: center;

        @media (max-width: 1265px) {
            left: 20px;
        }
        @media (max-width: 1140px) {
            position: static;
            margin:10px auto;
            transform: translateY(0%);
        }

        & img {
            height: auto;
            max-width: 100%;
        }
    }
}
