.case-studies-listing {

    &__list {

        & .case-studies-list-item {
            &:first-child {
                padding-top: 104px;
                padding-bottom: 108px;
                background-image: url(../img/photo/bg.png);
                background-repeat: repeat;


                @media (max-width: $md3+px) {
                    padding: 60px 0 80px;
                }

                & .case-studies-list-item__column-1 {
                    @media (max-width: $md2+px) {
                        margin-bottom: -50px;
                    }
                }
            }

            &:nth-child(2n+3) {
                background-color: #fff;
            }
            &:nth-child(even) {
                background-color: #f2f9fd;

                & .case-studies-list-item__title {
                    text-align: right;

                    @media (max-width: $md2+px) {
                        text-align: left;
                    }
                }

                & .case-studies-list-item__body {
                    flex-direction: row-reverse;
                }

                & .case-studies-list-item__img-wrap {
                    left: auto;
                    right: 0;
                }

                & .case-studies-list-item__text-wrap {
                    margin-right: 0;
                    margin-left: 61px;

                    @media (max-width: 1265px) {
                        margin-left: 0;
                    }

                    @media (max-width: $md2+px) {
                        margin: 0 auto;
                    }
                }

                & .case-studies-list-item__btn-wrap {
                    justify-content: flex-end;
                }
            }
        }
    }

    &__bottom {
        text-align: center;
        margin-bottom: 148px;

        @media (max-width: $md3+px) {
            margin-bottom: 70px;
        }
    }
}






.case-studies-list-item {
    padding: 69px 0 152px;

    @media (max-width: $md3+px) {
        padding: 50px 0 80px;
    }

    &__title {
        margin-bottom: 37px;
    }

    &__body {

        display: flex;
    
        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__column-1 {
        flex: 0 0 38.66%;
        position: relative;
        min-height: 489px;

        @media (max-width: $md3+px) {
            min-height: 389px;
        }

        @media (max-width: $md2+px) {
            margin-bottom: 95px;
        }

    }
    &__column-2 {
        flex: 1 1 auto;
        position: relative;
        z-index: 2;
        padding: 48px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $md2+px) {
            padding: 0;
        }
    }

    &__img-wrap {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        height: 100%;
        width: 153%;
        border-radius: 10px;

        @media (max-width: $md2+px) {
            width: 100%;
        }

        & + .case-studies-list-item__btn-wrap {
            display: none;
        }

        &._swiper {
            & + .case-studies-list-item__btn-wrap {
                display: flex;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }


    &__btn-wrap {
        display: flex;
        position: absolute;
        left: 0;
        bottom: -71px;
        width: 100%;
    }

    &__btn-prev {
        margin-right: 10px;
    }

    &__btn-next {
    }



    &__text-wrap {
        position: relative;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        background-color: #0054e8;
        padding: 34px 46px 45px 46px;
        margin-right: 61px;

        @media (max-width: 1265px) {
            margin-right: 0;
        }

        @media (max-width: $md2+px) {
            margin: 0 auto;
            width: 90%;
        }

        @media (max-width: 575px) {
            padding: 20px 15px;
        }

        &:before {
            position: absolute;
            content: '';
            top: 34px;
            right: 39px;
            width: 97px;
            height: 226px;
            background: url(../img/icons/we-act/decor.png) center no-repeat;
            background-size: contain;
            z-index: 1;
        }
    }

    &__logo {
        width: 100%;
        max-width: 178px;
        margin-bottom: 34px;
        position: relative;
        z-index: 2;

        @media (max-width: 575px) {
            margin-bottom: 20px;
        }
        & img {
            width: 100%;
        }
    }

    &__inner {
        display: flex;
        position: relative;
        z-index: 3;

        @media (max-width: $md3+px) {
            display: block;
        }
    }

    &__text-column-1 {
        flex: 0 0 241px;
        margin-right: 17px;

        & .link-btn {
            @media (min-width: 992px) {
                &:hover {
                    color: rgba($decorColor, 0.8);
                }
            }

            @media (max-width: $md3+px) {
                display: none;
            }
        }
    }
    
    &__text-column-2 {
        flex: 1 1 auto;
        padding-top: 20px;

        @media (max-width: $md3+px) {
            padding-top: 0;
            
        }

        & .link-btn {
            display: none;

            @media (max-width: $md3+px) {
                display: inline-flex;

            }
        }
    }
    &__suptitle {
        color: #538ff8;
        font-family: $titleFontFamily;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.2em;
        text-transform: uppercase;
        margin-bottom: 3px;

        @media (max-width: 575px) {
            font-size: 14px;
        }
    }

    &__text-title {
        color: #ffffff;
        font-family: $titleFontFamily;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.3em;
        margin-bottom: 31px;

        @media (max-width: $md3+px) {
            margin-bottom: 15px;
        }

        @media (max-width: 575px) {
            font-size: 16px;
        }

    }


    &__text {
        color: #fff;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
            
        }
    }
}


.slider-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #3d85c6;
    cursor: pointer;
    transition: all .2s ease;

    @media (min-width: 992px) {
        &:hover {
            background-color:rgba(#3d85c6, 0.2);
        }
    }

    & > span {
        display: block;
        width: 70.5%;
        margin-top: 1px;

        & svg {
            width: 100%;
            height: auto;
            fill: #3d85c6;
        }
    }

    &.swiper-button-disabled {
        border-color: #ddf0fa;
        width: 93px;
        cursor: auto;

        @media (min-width: 992px) {
            &:hover {
                background-color:transparent;
            }
        }

        & > span {
            & svg {
                fill: #ddf0fa;;
            }
        }
    }

    &._next {
        & > span {
            transform: scale(-1, 1);
        }
    }
}
